table{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 5px;
}
.evaluation {
    height: 200px;
    padding: 10px;
    text-align: right;
    font-size: x-large;
}
.age {
   border-spacing: 5px;
}
.eval{
   font-size: 15px;
}
img{
   width: 7%;
   height: 7%;
  position: relative;
  left: 680px;
  
}

.demo {
    display: flex;}
    .demo div{
    margin-left:auto;
            flex-wrap: wrap;
        
    }